*,
::after,
::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
} 


body {
    font-family: "Roboto", sans-serif;
    color: #fff;
    width: max-content;
    margin: auto;
  }

  .navbar{
    background-color: #1a1a40 !important;
    padding: 0 !important;
    padding-left: 20px;
  }
  
  .navbar-brand {
      padding-top: 0 !important;
      width: 15rem !important;
      height: 6rem !important;
  }
  
  
  .nav-link {
    margin: auto auto auto 1rem;
    font-size: 1rem;
  }
  .nav-link:hover {
    color: #007bff !important;
  }
    .navbar a {
      color: white !important;
    }
    .login {
      margin: auto;
      padding-right: 30px;
    }
  
    a:hover{
      color: #007bff !important;
    }
    
    .profile {
        width: 16rem;
    }
    .profile a{
      text-decoration: none !important;
    }
    .start {
      background-color: #0f77e7;
      border: 1px solid #007bff;
      border-radius: 9px;
      width: 9rem;
      height: 2.5rem;
      padding: 5px;
      padding-left: 20px;
      margin: 5px 20px auto auto;
    }
  
    .start p {
      font-size: 1.1rem;
    }
    
    .start:hover {
      color: #007bff;
      background-color: white;
      cursor: pointer;
    }
  
    /* END OF THE NAV BAR*/
  /* START OF THE FIRST SECTION  */

  .about-first-section {
    position: relative;
    z-index: 2;
    background-color: #1a1a40;
    padding: 200px 1px 250px 1px;
  }

  .first-body {
    position: absolute;
    top: 50%;
    left: 43%;
    translate: (-50% -50%);
    letter-spacing: 1px;
    margin: auto;
    text-align: center;
  }
  
  h4 {
    color: #007bff;
    margin: auto auto 40px auto;
    font-size: 25px;
  }
  
  h1 {
    font-size: 3rem;
    line-height: 5rem;
  }
  
  p {
    font-size: 1rem;
    line-height: 2rem;
  }
  
  .mine-img {
    position: absolute;
    top: 2rem;
    left: 9%;
    margin: auto;
    width: 100%;
  transform: rotate(-90deg) scale(0.3, 1);
  }
span {
      color: #044e9e;
  }


  .about-second-section {
    background-color: white;
    color: #1a1a40;
    position: relative;
z-index: inherit;
width: max-content;
margin: auto;
  }
  
  .second-header {
    text-align: center;
    padding-top: 120px;
  }
  
  .second-items {
  width: min-content;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 120px;
  }
  .second-section-items {
    text-align: center;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.947);
    box-shadow: 1px 1px 5px rgb(234, 234, 234);
    width: 15rem;
    height: 22rem;
    margin: 100px 30px auto 30px;
    padding: 10px;
  }
  
  h3 {
    font-size: 2rem;
    padding-bottom: 10px;
  }
  
  .icons2,
  .icons3,
  .icons4,
  .icons5 {
    border-radius: 25px;
    text-align: center;
    width: 6.5rem;
    height: 5rem;
    font-size: 2.2rem;
    margin: 40px auto 40px auto;
    padding: 10px;
    color: white;
  }
  
  .icons2 {
    background-color: #7a0bc0;
    border: 1px solid #7a0bc0;
  }
  
  .icons3 {
    background-color: #fa58b6;
    border: 1px solid #fa58b6;
  }
  
  .icons4 {
    background-color: #80ffdb;
    border: 1px solid #80ffdb;
  }
  
  .icons5 {
    background-color: #007bff;
    border: 1px solid #007bff;
  }
  /* END OF THE SECOND SECTION */

  .about-second-section-cards {
    background: #5534d9;
    background-image: -webkit-linear-gradient(top, #5534d9, #1a1a40);
    background-image: -moz-linear-gradient(top, #5534d9, #1a1a40);
    background-image: -ms-linear-gradient(top, #5534d9, #1a1a40);
    background-image: -o-linear-gradient(top, #5534d9, #1a1a40);
    background-image: linear-gradient(to bottom, #5534d9, #1a1a40);
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    color: #ffffff;
    margin-top: 70px;
    padding-top: 100px;
    width: 100%;
    }
    .about-cards {
      display: flex;
      justify-content: space-between;
      width: max-content;
      margin: auto;
    }
.about-cards2 {
  width: 30rem;
  
}

.about-cards1 {
  width: 30rem;
  margin-right: 50px;
  margin-bottom: 50px;
}

    .fifth-col {
      padding-top: 50px;
    }
    
    /* style the counter cards */
.fifth-row {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  }

  .fifth-col h3 {
    font-size: 1rem;
  }
  .fifth-col {
    margin: 5px;
    width: 10rem;
    height: 8rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding-top: 10px;
    text-align: center;
    background-color: #0f0f24;
    color: white;
  }



    .about-third-section {
        color: #1a1a40;
        text-align: center;
        margin: 150px auto;
    }


    .info, .mission, .growth, .user {
      padding: 50px 15px 50px 15px;
      margin: 100px auto 50px auto;
      display: flex;
      justify-content: space-between;
      width: 60rem;
      height: auto;
      box-shadow: 5px 5px 30px rgba(10, 8, 22, 0.144);
    }
.line {
  border-left: 5px solid #1a1a40;
  margin: auto 20px;
  height: 280px;
}

.line1 {
  border-left: 5px solid #1a1a40;
  margin: auto 20px;
  height: 230px;
}

.line2 {
  border-left: 5px solid #1a1a40;
  margin: auto 20px;
  height: 210px;
}
.about-third-section p{
  font-size: 1.1rem;
}
.about-third-section .fa-solid {
font-size: 2.5rem;
padding-bottom: 20px;
}
    .info, .user {
      height: auto;
    }
    .mission, .growth {
      height: auto;
    }

    .motto1, .motto4, .motto5 {
      text-align: left;
      width: 41rem;
    }

    .motto2, .motto3, .motto6 {
      text-shadow: #0c0cd7;
      color: #007bff;
     margin: auto;
    }


     /* Beginning of footer */

     .footer {
      background-color: #1a1a40;
      color: white;
      width: 100vw;
      margin: auto; 
     }
 .footer1 {
  background-color: #1a1a40;
  color: white;
}

.first-footer, .second-footer {
    width: max-content;
    margin: auto;
}

.first-footer {
  display: flex;
  justify-content: space-evenly;
  padding-top: 40px;
}


.footer1 p {
  font-size: 1rem;
}

.footer2, .footer3 {
  padding-top: 50px;
  padding-right: 80px;
 
}
.footer2 h3, .footer3 h3 {
  padding-bottom: 30px;
  padding-left: 21px;
  font-size: 1.3rem;
}

.footer2 li, .footer3 li {
  padding-bottom: 15px;
  font-size: 1rem;
}

.footer2 a, .footer3 a {
 color: #ffffff;
 text-decoration: none;
}

.second-footer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 60px;
}

.footer-par {
  padding-top: 70px;
 padding-left: 100px;
}

.footer1 i {
  margin-left: 10px;
}    
.footer1 p>*a{
  color: #1a1a40;
}
.start-btn {
  display: flex;
  justify-content: space-between;
  width: 30rem;
  margin-top: 60px;
}

.reg,
.reg1 {
  border-radius: 15px;
  width: 100%;
  height: 50px;
  padding: 10px;
  margin-right: 30px;
  background-color: #1a1a40;
  font-size: 1.2rem;
}

.start-btn .fas {
  padding-left: 5px;
  padding-right: 10px;
}

.reg {
  border: 2px solid #ffffff;
  color: #fff;
  text-decoration: none;
}

.reg1 {
  border: 2px solid #ffffff;
  background-color: #fff;
  color: #1a1a40;
  text-decoration: none;
}

.reg1:hover {
  cursor: pointer;
  color: #1a1a40 !important;
}

.reg:hover {
  background-color: #fff;
  cursor: pointer;
  color: #1a1a40 !important;
  text-decoration: none;
}
  @media only screen and (max-width: 785px){
    .footer {
        width: auto;
    }
      }

  @media only screen and (max-width: 995px) {
    .footer1 {grid-area: a;}
    .footer2 {grid-area: b;}
    .footer3 {grid-area: c;
    text-align: center;}

    .first-footer {
    display: grid;
    grid-template-areas: 'a b' 'c c';
}

.second-footer {
display: flex;
flex-direction: column;
}

  }