*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}


body {
    font-family: "Roboto", sans-serif;
    color: #fff;
  }

.navbar{
  background-color: #1a1a40 !important;
  padding: 0 !important;
  padding-left: 20px;
}

.navbar-brand {
    padding-top: 0 !important;
    width: 15rem !important;
    height: 6rem !important;
}


.nav-link {
  margin: auto auto auto 1rem;
  font-size: 1rem;
}
.nav-link:hover {
  color: #007bff !important;
}
  .navbar a {
    color: white !important;
  }
  .login {
    margin: auto;
    padding-right: 30px;
  }

  a:hover{
    color: #007bff !important;
  }
  
  .profile {
      width: 16rem;
  }
  .profile a{
    text-decoration: none !important;
  }
  .start {
    background-color: #0f77e7;
    border: 1px solid #007bff;
    border-radius: 9px;
    width: 9rem;
    height: 2.5rem;
    padding: 5px;
    padding-left: 20px;
    margin: 5px 20px auto auto;
  }

  .start p {
    font-size: 1.1rem;
  }
  
  .start:hover {
    color: #007bff;
    background-color: white;
    cursor: pointer;
  }

  /* END OF THE NAV BAR*/
.first-section {
    background-color: #1a1a40;
}
  .first-side {
      width: max-content;
      margin: auto;
      background-color: #1a1a40;
      padding-top: 100px;
      padding-bottom: 100px;
      text-align: center;
  }


  .second-section {
    width: max-content;
    margin: auto;
    text-align: center;
      color: #1a1a40;
  }
.second-items ol {
    width: 470px;
    padding-left: 40px;
    font-size: 1.2rem;
    line-height: 2rem;
}
  .second-icons {
      font-size: 2rem;
  }

  .second-items li {
      padding-bottom: 10px;
  }

  .second-icons .fa-brands {
      font-size: 3rem;
      padding: 100px;
        animation: rotation 2s infinite linear;
  }

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

  .second-items {
      text-align: left;
      padding-bottom: 30px;
  }


  .third-section {
    background-color: #FA58B6;
    background-image: -webkit-linear-gradient(top, #FA58B6, #1A1A40);
    background-image: -moz-linear-gradient(top, #FA58B6, #1A1A40);
    background-image: -ms-linear-gradient(top, #FA58B6, #1A1A40);
    background-image: -o-linear-gradient(top, #FA58B6, #1A1A40);
    background-image: linear-gradient(to bottom, #FA58B6, #1A1A40);
    color: #ffffff;
    padding-top: 50px;
    padding-bottom: 30px;
    width: 100%;
  }

  .third-side {
    padding: 10px;
    width: 70%;
    margin: auto;
    text-align: center;
  }

  @media only screen and (max-width: 480px){
.third-section {
    width: 500px
}
  }